planner/lib/build/
planner/lib/build_user/
planner/lib/build_nuc/
planner/lib/*.so
planner/lib/*.pyi
planner/lib//install/
planner/lib/3rdparty/osqp/install
rsc/pcd/*.pcd
rsc/tomogram/*.pickle
rsc/tomogram/*.bak
planner/config/__pycache__/
planner/scripts/__pycache__
tomography/scripts/__pycache__
tomography/config/__pycache__
rsc/tomogram/__pycache__
rsc/__pycache__
rsc/traj/
tests/__pycache__/
tests/results/
log
install
build
